<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client authorization</title>
  </head>
  <body>
    <p>
      The following client is requesting to be authorized: <%=
      authorizationRequest.clientName %> - <%=
      authorizationRequest.clientDescription %>
    </p>
    <p>
      The client is asking for the following permissions: <%=
      authorizationRequest.scope %>
    </p>
    <form method="post" action="authorize">
      <input type="submit" value="Authorize" />
      <input
        type="hidden"
        name="client_id"
        value="<%= authorizationRequest.clientId %>"
      />
      <input
        type="hidden"
        name="user_id"
        value="<%= authorizationRequest.userId %>"
      />
      <input
        type="hidden"
        name="scope"
        value="<%= authorizationRequest.scope %>"
      />
    </form>
  </body>
</html>
