<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client registration</title>
  </head>
  <body>
    <form method="post" action="register">
      <label>
        Name
        <input type="text" name="name" />
      </label>
      <label>
        Description
        <input type="text" name="description" />
      </label>
      <label>
        Redirection URL
        <input type="text" name="redirection_url" />
      </label>
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
