<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Successful client registration</title>
  </head>
  <body>
    <p>The client has been successfully registered!</p>
    <ul>
      <% for (const property in client) { %>
      <li><%= property %>: <%= client[property] %></li>
      <% } %>
    </ul>
  </body>
</html>
